appdirs==1.4.2
click==6.6
dj-database-url==0.4.1
Django==1.10.4
django-bower==5.2.0
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
Flask==0.12
Flask-SocketIO==2.8.2
greenlet==0.4.11
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
mock==2.0.0
olefile==0.44
packaging==16.8
pbr==1.10.0
Pillow==4.3.0
psycopg2==2.6.2
pyparsing==2.2.0
python-engineio==1.1.0
python-socketio==1.6.2
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.11.15
whitenoise==3.2
xlrd==1.0.0
