{% extends 'main.html' %}
{% load staticfiles %}

{% block main_custom_css %}
<link href="{% static 'blog.css' %}" rel="stylesheet" />
{% endblock %}

{% block main_content %}

    <div class="parallax">
        <div class="page-title">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="ui grid container">

      <div class="sixteen wide mobile ten wide computer column">


    <h2>Posts</h2>
      {% if posts %}
      <div class="ui divided items">

      {% for post in posts %}


      <div class="item">
        <div class="image">
          <img src="{{ post.image.url }}">
        </div>
        <div class="content">
          <a class="header" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          <div class="meta">
            <span>Posted: {{ post.posted }}</span>
          </div>
          <div class="description">
            <p>{{ post.body|truncatechars:100 }}</p>
          </div>
          <div class="extra">
            <a href="{{ post.category.get_absolute_url }}">{{ post.category.title}}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    {% else %}
        <p>There are no posts.</p>
    {% endif %}

  </div>
  <div class="sixteen wide mobile six wide computer column">
      <h2>Categories</h2>
    {% if categories %}
    <div class="ui link list">
      {% for category in categories %}
      <a class="item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
      {% endfor %}

    </div>

    </div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
  </div>
</div>


{% endblock %}
{% block main_extra_scripts %}
{% endblock %}
