{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} ManuelBG - Home {% endblock %}

{% block custom_css %}
<link href="{% static 'base.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="content">
  <div class="text-container">
    <h1 class="name">Manuel A. Baez Gonzalez</h1>
    <h2 class="sub-header">CE undergrad. Foodie. Explorer. Geek</h2>
    <p class="description">Manuel Baez is a Computer Engineering
      undergrad @ The University of Puerto Rico - Mayaguez.</p>
  </div>
  <div class="links">
    <span class="github-link">
      <a href="https://github.com/captain-yuca"><i class="github icon"></i></a>
      <a href="https://www.linkedin.com/in/manuelbaezg/"><i class="linkedin icon"></i></a>
    </span>

    <span class="site-links">
      <ul>
        <li><a href="{% static 'resume.pdf' %}">CV</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>

      </ul>
    </span>
  </div>
</div>
{% endblock %}
