{% extends 'main.html' %}
{% load staticfiles %}

{% block main_custom_css %}
<link href="{% static 'blog.css' %}" rel="stylesheet" />
{% endblock %}

{% block main_content %}

    <div class="parallax">
        <div class="page-title">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="ui post container">
        <h1 class="post title">{{post.title}}</h1>
      <img class="ui centered big post image" src="{{post.image.url}}"/>
      <h4 class="post meta">{{post.posted}}</h4>
      <div class="post body">
          {{ post.body|linebreaks }}
      </div>
      <!-- <a class="post meta" href="{{post.category.get_absolute_url}}">{{post.category.title}}</a>
      <a href="{{post.category.get_absolute_url}}" class="ui basic button">One</a> -->
    </div>


{% endblock %}
{% block main_extra_scripts %}
{% endblock %}
