{% extends 'main.html' %}
{% load staticfiles %}

{% block main_custom_css %}
<link href="{% static 'blog.css' %}" rel="stylesheet" />
{% endblock %}

{% block main_content %}

    <div class="parallax">
        <div class="page-title">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="ui centered aligned container grid">
        <h1 class="post title">{{category.title}}</h1>
        {% if posts %}
        <div class="ui divided items">

        {% for post in posts %}

        <div class="post item">
          <div class="image">
            <img src="{{ post.image.url }}">
          </div>
          <div class="content">
            <a class="header" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <div class="meta">
              <span>Posted: {{ post.posted }}</span>
            </div>
            <div class="description">
              <p>{{ post.body|truncatechars:100 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      {% else %}
          <p>There are no posts.</p>
      {% endif %}

    </div>


{% endblock %}
{% block main_extra_scripts %}
{% endblock %}
