.ui.container.grid{
  padding-top: 5em;
  font-family: "metaserif-book";
  font-size: 1.4em ;
  line-height: 1.7em;
  letter-spacing: 0px;
  font-weight: 500;
}
.ui.form .field>label{
  font-size: 1.4em;
  font-weight: 700;
}
.ui.form .field > textarea{
  font-size: 1.4em;
  font-family: "metaserif-book";
}
.ui.form .field > input{
  font-size: 1.4em;
  font-family: "metaserif-book";
}
.ui.submit.button{
  font-size: 1.4em;

  font-family: "metaserif-book";
}
